.main{
    height: 6vh;
    width: 100vw;

    background: #000;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.nav{
    margin: 0 2vh 0 2vh;
    font-size: 1.8vh;
    transition: 0.2s;
    color: rgb(136, 136, 136);
}
.navOn{
    margin: 0 2vh 0 2vh;
    font-size: 1.8vh;
    transition: 0.2s;
    color: white;
}
.img{
    margin: 0 2vh 0 2vh;
}
.nav:hover{
    color: white;
    cursor: pointer;
}
.nav:focus{
    color: white;
}